:root{
    --cor-vermelho-ifood: #ea1d2c;
    --cor-cinza-texto: #575757;
    --cor-cinza-borda: #e2e2e2;
    --cor-fundo: #f7f7f7;
}
/* Zerando as propriedades do documento */
* {
    margin: 0;
    padding: 0;
}

body{
    /* Apliquei em todo o documento fonte, cor e cor fundo */
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-cinza-texto);

}
.cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);

}
.logo{
    height: 5vh;
    
}
.container{
    /* Propriedade define a largura maxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.item{
    /* Remover decoração da tag a */
    text-decoration: none;
    color: var(--cor-cinza-texto);
    /* Aplicando negrito */
    font-weight: 600;
    padding: 8px 0;
    border-bottom: 3px solid transparent;
}
.item:focus,
.item:hover{
    color: var(--cor-vermelho-ifood);
    border-bottom-color: var(--cor-vermelho-ifood) ;
}

.buscar{
    padding: 10px;
    border: 1px solid var(--cor-cinza-borda);
    border-radius: 8px;
    width: 9rem;
}
.localizacao{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.texto-local{
    border: none;
    font-weight: 600;
    font-size: 1rem;
}
.acao{
    display: flex;
    align-items: center;
    gap: 14px;
}
.criar-conta{
    text-decoration: none;
    color: var(--cor-vermelho-ifood);
    font-weight: 600;
}

.botao-entrar{
    background-color: var(--cor-vermelho-ifood);
    color: var(--cor-fundo);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.card-produtos{
    display: flex;
    flex-direction: column;
    width: 7vw;
    text-align: center;
    transition: transform 0.2s ease;
    padding: 2px;
    margin-top: 5px;
    justify-content: space-between;
}

.card-produtos:hover{transform: translateY(-5px);}

/* .card-produtos img{

} */

.secao-produtos{
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    height: 20vh;
    justify-content: space-around;
}

.secao-produtos img{
    width: 100%;
    height: 50%;
    object-fit: fill;
}
.secao-produtos::-webkit-scrollbar{visibility: hidden;}

.container-famosos{
    margin-bottom: 50px;
    margin-top: 50px;
}

.famosos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secao-cards-famosos{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.card-loja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 20vh;
    border-radius: 50px;
    flex-shrink: 0; /* Impede que os item encolham*/
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    padding: 5px;
}
.card-loja img{
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
    border-radius: 50%;
}

.rodape-principal{
    background-color: #575757;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-container{
    display: flex;
    gap: 40px;
}

 .coluna-rodape {flex: 1;}/*faz com que os elementos ocupem todo o espaco */
.coluna-rodape h3{margin-bottom: 20px;}
.coluna-rodape ul {list-style: none;}
.coluna-rodape ul li{margin-bottom: 10px;}
.coluna-rodape a {text-decoration: none; color: #e2e2e2; transition: color 0.2s ease;}
.coluna-rodape a:hover {color: aqua;}
.icones-sociais a{margin-right: 15px; font-size: 20px;}

/* Aplicando estilos no modal */

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    /* Centralizar nosso box */
    display: flex;
    justify-content: center;
    align-items: center;

    /* começar escondido */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modal-cadastro:target{
    opacity: 1;
    visibility: visible;
}

.modal-box{
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    max-width: 450px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

    transform: scale(0.95);
    transition: transform 0.3s ease;
}

#modal-cadastro:target .modal-box{
    transform: scale(1);
}

.modal-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.modal-cabecalho h2{
    font-size: 2rem;
    color: #333;
}

.fechar{
    text-decoration: none;
    font-size: 2rem;
    color: var(--cor-cinza-texto);
    font-weight: 300;
    
}

.formulario .grupo-form{
    margin-bottom: 20px;
}

.formulario label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1rem;
}

.formulario input{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--cor-cinza-borda);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

.formulario input:focus{
    outline: none;
    border-color: var(--cor-vermelho-ifood);
    box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}

.formulario .botao-criar{
    width: 100%;
    padding: 15px;
    font-size: 0.8rem;
    margin-top: 10px;
    background-color: var(--cor-vermelho-ifood);
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
}

.modal-rodape{
    margin-top: 25px;
    text-align: center;
    font-size: 0.8rem;
}

.modal-rodape a{
    color: var(--cor-vermelho-ifood);
    font-weight: 600;
    text-decoration: none;
}